<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">Ups... that page does not exist!</div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
