<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
        accusamus.
      </p>
      <p>
        Vero praesentium, suscipit est fugit ut eligendi? Dolores, enim
        exercitationem?
      </p>
      <p>Enim doloribus porro harum in architecto fuga. Culpa, sed beatae.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
